Sharot: A nightmare in the library.

Play Lovecraftian tarot cards that manipulate cards affecting you and
another, or only you, to reduce the influence of cosmic horrors and
save your sanity.

Number of players.  2–4 players with a shared area between players
(playtested), 5–8 players with one shared area (not yet playtested).
A single player with enough sufficiently-independent personalities may
play against himself.

General rules.  Play cards to minimize points on your side and points
shared with each other player.  Follow the order in which effects are
listed on cards, since it makes a difference.  Cards which affect only
one card may affect one card in a stack, limited by the effects of
Tower and Universe.  In general, cards may join a stack with Tower
or Universe.

Play area.  In addition to a side for each player, the playing area
consists of a shared area between each player, which makes the playing
area complicated for 5 or more people.  I'm thinking of making it one
shared area for all players if there are 5 or more players.

Scoring.  Points count arcane knowledge, which leads to madness—
the fewer points you have, the more sane you are.  All points on the
side of a player count towards a player’s score.  Half of the points
on each of the areas shared with other players count towards a
player’s score.  For one common area, in games of 5 or more players,
the number of points in the share for each player is the total divided
by the number of players, which I think would be the most complicated
calculation in the game.

Winner.  The goal is to have the least points at the end of the game,
which makes the resolution of the game simpler.  To declare a winner,
all players have to count their points only up to the count of the
player with the least points, and then note that they have an
undefined number of additional points.  If your score is less than zero,
you actually retain a functioning mind—congratulations!

Credits.  The names, order, and point values of the cards are most
influenced by the “restored” major arcana of the brothers Docters
van Leeuwen.  Playtest thanks to my family, and willing gamers of
Chicago-area Mensa.

